html {
	scroll-behavior: smooth;
}

ul {
	margin: 0;
	padding: 0;
}

.navbar {
	font-size: 1rem;
	background: linear-gradient(to right, #1d5eea 0%, #4946eb 100%);
	padding-bottom: 10px;
}

.navbar__nav {
	display: none;
	list-style-type: none;
}

.navbar__nav-links,
.navbar__logo a {
	text-decoration: none;
	color: #fff;
}

.navbar__nav li {
	text-align: center;
	margin: 15px auto;
}
.navbar__logo {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20p;
	font-size: 1.45rem;
}

.navbar__logo a:hover {
	color: rgb(214, 214, 214);
}

.navbar__nav a {
	text-align: center;
	text-decoration: none;
	padding: 10px;
}
.navbar__nav a:hover {
	color: rgb(214, 214, 214);
}

.navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
}

.active {
	display: block;
}

@media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		background: linear-gradient(to right, #1d5eea 0%, #4946eb 100%);
		height: 80px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
	}

	.navbar__nav {
		display: flex;
		margin-top: 5px;
		margin-right: 30px;
		justify-content: end;
	}

	.navbar__nav a:hover {
		color: rgb(214, 214, 214);
	}

	.navbar-toggle {
		display: none;
	}
}

/* Hero Section*/

.hero {
	background: url('https://images.pexels.com/photos/214573/pexels-photo-214573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-size: cover;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero__text {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

.hero__text h1 {
	font-size: 5rem;
	font-weight: 700;
	margin-bottom: 15px;
}

.hero__text h5 {
	font-size: 2.5rem;
	font-weight: 300;
}

@media (max-width: 900px) {
	.hero {
		height: 50vh;
	}
	.hero__text h1 {
		font-size: 3rem;
	}
}

/* About Section */

.about {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.about h2 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 25px;
}

.about h5 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 20px;
}

.about p {
	font-size: 1rem;
	line-height: 2rem;
	margin-bottom: 10px;
}

.about__column-left,
.about__column-right {
	width: 50%;
	margin: 50px;
}

.about__column-left {
	display: block;
}

.about__column-right img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 15px;
}

@media screen and (max-width: 600px) {
	body {
		background: red;
	}
}
@media (max-width: 900px) {
	.about {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.about h2 {
		font-size: 2rem;
		text-align: justify;
	}
	.about__column-left,
	.about__column-right {
		width: 80%;
		margin-left: 50px;
		margin-right: 50px;
	}
}

/* ---BLOG SECTION --- */
.blog {
	background: #f1f1f1;
}

.blog__section-title {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.blog h2 {
	padding-top: 2rem;
	font-size: 3rem;
}
.blog__container {
	display: flex;
	justify-content: center;
}

.blog__card {
	background: #fff;
	margin: 50px 20px;
	padding-bottom: 10px;
	width: 300px;
	height: 100%;
	text-align: center;
	border-radius: 12px;
	box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.blog__card .blog__title {
	font-size: 1.5rem;
	font-weight: 400;
	padding-bottom: 1rem;
}
.blog__card .blog__text {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 10px;
}

.blog img {
	width: 100%;
	height: auto;
	padding-bottom: 24px;
}

.blog__hover {
	top: 0;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.blog__hover:hover {
	box-shadow: 0 20px 40px rgba(61, 65, 84, 0.15);
	top: -2px;
}

.blog__line:before {
	content: '';
	display: block;
	height: 5px;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	transition: all 0.2s ease-in-out;
}
.blog__line:hover:before {
	width: 100%;
}

@media (max-width: 900px) {
	.blog__container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.blog__card {
		margin-left: 50px;
		margin-right: 50px;
		width: 80%;
	}
	.blog h2 {
		font-size: 2rem;
	}
}
/*---CONTACT US SECTION---*/

.contact {
	background: linear-gradient(to right, #1d5eea 0%, #4946eb 100%);
	display: flex;
	min-height: 50vh;
	font-size: 12px;
}

button,
input {
	font-weight: 700;
	letter-spacing: 1.4px;
}

.contact__container {
	flex: 0 1 800px;
	margin: auto;
	padding: 10px;
}

.contact__screen {
	position: relative;
	background: #3e3e3e;
	border-radius: 15px;
}

.contact__screen:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.contact__screen-body {
	display: flex;
}

.contact__screen-body-item {
	flex: 1;
	padding: 50px;
}

.contact__screen-body-item.left {
	display: flex;
	flex-direction: column;
}

.contact__form-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #1d5eea;
	font-size: 3rem;
	font-family: 700;
}

.contact__form-title:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: #1d5eea;
}

.contact__form-contact {
	font-weight: bold;
	margin-top: auto;
	font-size: 12px;
	color: #888;
}

.contact__form-group {
	margin-bottom: 15px;
}

.contact__form-group.message {
	margin-top: 40px;
}

.contact__form-group.buttons {
	margin-bottom: 0;
	text-align: right;
}

.contact__form-control {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color 0.2s;
}

.contact__form-control::placeholder {
	color: #666;
}

.contact__form-control:focus {
	border-bottom-color: #ddd;
}

.contact__form-button {
	background: none;
	border: none;
	color: #1d5eea;
	font-size: 14px;
	cursor: pointer;
	outline: none;
}

.contact__form-button:hover {
	color: #4946eb;
}

@media (max-width: 900px) {
	.contact__container {
		margin: auto;
		padding: 50px;
	}

	.contact__screen-body {
		display: flex;
		flex-direction: column;
	}
	.contact__form-contact {
		margin-top: 20px;
		font-size: 10px;
		letter-spacing: 1.4px;
	}
}

@media (max-width: 768px) {
	.contact__container {
		margin: auto;
		padding: 50px;
	}

	.contact__screen {
		width: 100%;
	}

	.contact__screen-body {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.contact__form-contact {
		margin-top: 20px;
		font-size: 10px;
		letter-spacing: 1.4px;
	}
}
