ul {
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	background: red;
	height: 80px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.navbar__nav {
	display: flex;
	margin-top: 5px;
}
.navbar__logo {
	margin: 0;
	font-size: 1.45rem;
}

.navbar__logo a {
	text-decoration: none;
	color: #000;
}

.navbar__nav a {
	text-align: center;
	text-decoration: none;
	padding: 10px;
	color: #fff;
}
.navbar__nav a:hover {
	color: rgb(214, 214, 214);
}

/* Hero Section*/

.hero {
	background: url('https://images.pexels.com/photos/214573/pexels-photo-214573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-size: cover;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero__text {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

.hero__text h1 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 15px;
}

.hero__text h5 {
	font-size: 1.5rem;
	font-weight: 300;
}
